@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  font-family: Poppins, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;



  --primary-color: #06ba90;
  --secondary-color: #0097e5;
  --background-color: #f8f9fa;
  --text-color: #2d3436;
  --card-background: #ffffff;
  --grey-color: linear-gradient(to right, #f8f9fa, #e9ecef);

  --desktop-title-font-size: 32px;
  --desktop-subtitle-font-size: 18px;

  --mobile-title-font-size: 28px;
  --mobile-subtitle-font-size: 16px;

  --tablet-title-font-size: 30px;
  --tablet-subtitle-font-size: 18px;

  --grid-desktop-gap: 32px;
  /*buat atur jarak antar card */
  --grid-desktop-padding: 16px;
  /*buat atur padding card */

  --grid-tablet-gap: 30px;
  --grid-tablet-padding: 14px;

  --grid-mobile-gap: 28px;
  --grid-mobile-padding: 15px 40px;

  --mobile-grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  --tablet-grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  --desktop-grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));



  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 32px;
  padding: 30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
}